* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100svh;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.header {
    background-color: rgb(38, 104, 227);
}

.header-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.list-link {
    display: flex;
    flex: 1;
}

.link-item {
    border-right: 1px solid #fff;
    transform: skew(-20deg);
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.link-item-content {
    color: #fff;
    transform: skew(20deg);
}

.link-item:last-child {
    transform: skew(0deg);
}

.link-item:last-child .link-item-content {
    transform: skew(0deg);
}

.link-item:nth-child(2) {
    background-color: black;
    border-color: black;
}

.link-item:nth-child(1) {
    border-color: black;
}

/* phan2 */
.cart-mini {
    display: flex;
    border-right: 1px solid #fff;
    padding: 8px;
}

.cart-mini-left {
    font-size: 32px;
    position: relative;
    margin-right: 12px;
}

.mini-cart-count {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-mini-right {
    color: #fff;
    font-weight: bold;
}

.cart-mini-title {
    font-size: 14px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.path {
    margin-bottom: 32px;
    margin-top: 8px;
}

.path span {
    color: #999;
}

.cart-title {
    font-size: 28px;
}

.list-product {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 16px;
}

th:nth-child(4) {
    width: 10%;
}

.product-quantity input {
    width: 100%;
}

td img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    max-height: 80px;
}

td {
    vertical-align: top;
}

th {
    text-align: left;
}

.product-price {
    font-weight: bold;
}

.product-total {
    font-weight: bold;
    color: red;
}

.btn-continue,
.total-area button {
    font-size: 16px;
    padding: 4px 12px;
    background-color: rgb(38, 180, 38);
    color: #fff;
    border: 0;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

.total-area {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total-area button {
    margin-right: 65px;
}

.total-amount {
    border-bottom: 1px solid #ddd;
    width: fit-content;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 8px;
}
.btn-load,
.btn-load+button{
    font-size: 24px;
    border: 0;
    background-color: transparent;
}
.btn-load:active,
.btn-load+button:active{
    scale: .9;
}