@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: lexend;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-top: 2px solid #000;
    height: 58px;
    background-color: #0572d1;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;


    a {
        color: #fff;
        margin-right: -10px;
        padding: 16px 40px 16px 30px;

    }

    ul {
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;


        li {
            position: relative;
            z-index: 10;
            transform: skew(-20deg);
            padding: 16px 16px;
            position: relative;
            cursor: pointer;
            background-color: #0572d1;
            margin-left: -2px;
            border-right: 1px solid #fff;
            font-weight: 500;

            .text {
                transform: skew(+20deg);
            }
        }

        li:nth-child(1) {
            z-index: 6;
            border-left: 1px solid #fff;
        }

        li:nth-child(2) {
            z-index: 5;
        }

        li:nth-child(3) {
            z-index: 4;
        }

        li:nth-child(4) {
            z-index: 3;
        }

        li:nth-child(5) {
            z-index: 2;
        }

        li:nth-child(6) {
            transform: skew(0deg);
            margin-left: -12px;
            padding: 16px 30px 16px 42px;
            z-index: 1;

            .text {
                transform: skew(0deg);
            }
        }

        li:hover {
            background-color: #000;
        }

        li.active {
            background-color: #000;
            border-color: #000;
        }
    }
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0572d1;
    padding: 0 10px;
    flex-shrink: 0;
    gap: 10px;
    cursor: pointer;

    .icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 30px;
        }
    }

    .cart-info {
        font-weight: bolder;

        .title {
            font-size: 14px;
        }
    }
}